/*!
 *
 * Evgeniy Ivanov - 2018
 * busforward@gmail.com
 * Skype: ivanov_ea
 *
 */
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after, .slick-track:before {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    outline: 0;
    display: none;
}
[dir=rtl] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.dev-stages {
    padding: 30px 0;
    counter-reset: stage;
}
@media (min-width: 768px) {
    .dev-stages {
        background: url("../images/dev-stages-bg.png") left center no-repeat;
        padding: 60px 0;
    }
}
@media (min-width: 768px) {
    .dev-stages .title {
        text-align: center;
        margin-bottom: 30px;
    }
}
.dev-stages__content {
    display: flex;
    margin: 37px -15px;
    align-items: center;
}
@media (min-width: 768px) {
    .dev-stages__content {
        margin: 90px 16px 78px;
    }
}
.dev-stages__left {
    display: none;
}
@media (min-width: 768px) {
    .dev-stages__left {
        display: block;
        flex: none;
        width: 35%;
    }
}
@media (min-width: 992px) {
    .dev-stages__left {
        width: 40%;
    }
}
@media (min-width: 1200px) {
    .dev-stages__left {
        width: 49%;
    }
}
.dev-stages__titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}
.dev-stages__titles li {
    font-size: 16px;
    font-family: "Avenir Next Cyr";
    font-weight: 800;
    text-transform: uppercase;
    margin: 21px 0;
    cursor: pointer;
}
@media (min-width: 992px) {
    .dev-stages__titles li {
        font-size: 22px;
    }
}
.dev-stages__titles li.active {
    color: #00aff9;
}
@media (min-width: 768px) {
    .dev-stages__right {
        height: 557px;
        overflow: hidden;
        border-top: 4px solid #ececec;
        border-bottom: 4px solid #ececec;
    }
}
.dev-stages__description {
    transition: transform 0.5s;
}
.dev-stages__item {
    padding: 14px 17px;
    background-color: white;
    transition: 0.3s;
    counter-increment: stage;
}
@media (min-width: 768px) {
    .dev-stages__item {
        border: 4px solid #ececec;
        padding: 15px 25px;
        min-height: 151px;
        display: flex;
        align-items: center;
    }
}
@media (min-width: 1200px) {
    .dev-stages__item {
        padding: 15px 46px;
    }
}
.dev-stages__item:first-child {
    border-top: 0;
}
.dev-stages__item:last-child {
    border-bottom: 0;
}
.slick-initialized .dev-stages__item {
    display: flex;
}
.dev-stages__item.active {
    background-color: #313233;
    border-color: #313233;
}
@media (max-width: 767px) {
    .dev-stages__item.active {
        padding: 24px 17px;
        margin-bottom: 16px;
    }
}
.dev-stages__item.active img {
    display: block;
}
.dev-stages__item.active img.active {
    display: none;
}
.dev-stages__item.active .dev-stages__text {
    color: #fff;
}
@media (max-width: 767px) {
    .dev-stages__item.active .dev-stages__text {
        display: block;
    }
}
.dev-stages__item.active .dev-stages__label {
    color: #00aff9;
    margin-bottom: 21px;
}
@media (max-width: 767px) {
    .dev-stages__item.active .dev-stages__icon {
        display: block;
    }
}
.dev-stages__label {
    font-family: "Avenir Next Cyr";
    font-weight: 900;
    clear: both;
    font-size: 18px;
    text-transform: uppercase;
}
.dev-stages__label:before {
    content: counter(stage) ". ";
}
@media (min-width: 768px) {
    .dev-stages__label {
        display: none;
    }
}
.dev-stages__icon {
    flex: none;
    width: 48px;
    margin-right: 14px;
    float: left;
    display: none;
}
@media (min-width: 768px) {
    .dev-stages__icon {
        width: 68px;
        margin-right: 20px;
        display: block;
    }
}
@media (min-width: 992px) {
    .dev-stages__icon {
        width: 98px;
        margin-right: 50px;
    }
}
.dev-stages__icon img {
    display: none;
}
.dev-stages__icon img.active {
    display: block;
}
.dev-stages__text {
    font-size: 17px;
    color: #b0b2b2;
    line-height: 1.059;
    overflow: hidden;
    display: none;
}
@media (min-width: 768px) {
    .dev-stages__text {
        display: block;
        font-family: "Avenir Next Cyr Medium";
        font-weight: 500;
    }
}
.dev-stages__action {
    text-align: center;
}

.button {
    position: relative;
    display: inline-block;
    background-color: #00aff9;
    font-family: "Avenir Next Cyr Bold";
    color: #fff;
    font-size: 18px;
    height: 48px;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0 3vw;
    transition: all 0.3s;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .button {
        height: 4.0625vw;
        line-height: 4.0625vw;
        font-size: 0.9375vw;
    }
}
.button:hover {
    background-color: #00597e;
}
.button.yellow {
    background-color: #ffc600;
}
.button.yellow:hover {
    background-color: #e0ac00;
}
.button-more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    padding: 0 20px;
}
.button-more:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    margin-left: 8px;
}
.button-more:hover {
    background-color: #ffc600;
}

.recomend-service {
    padding: 30px 0;
    position: relative;
}
@media (min-width: 768px) {
    .recomend-service {
        background: url("../images/recomend-service-bg.png") center no-repeat;
        background-size: auto 100%;
        padding: 60px 0;
    }
}
@media (min-width: 768px) {
    .recomend-service .title {
        text-align: center;
        margin-bottom: 30px;
    }
}
.recomend-service__list {
    display: flex;
    flex-wrap: wrap;
    margin: 37px -15px;
}
@media (min-width: 768px) {
    .recomend-service__list {
        margin: 82px -15px;
    }
}
.recomend-service__item {
    box-sizing: border-box;
    width: calc(100% - 30px);
    margin: 0 15px 30px;
    border: 1px solid #DDDDDD;
    padding: 36px 14px 0;
    background: #fff;
}
@media (min-width: 768px) {
    .recomend-service__item {
        width: calc(33.3% - 30px);
        padding: 37px 22px 0;
    }
}
.recomend-service__head {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
}
@media (min-width: 768px) {
    .recomend-service__head {
        min-height: 58px;
        margin-bottom: 53px;
    }
}
.recomend-service__icon {
    margin-right: 21px;
}
@media (min-width: 768px) {
    .recomend-service__icon {
        margin-right: 29px;
    }
}
.recomend-service__name {
    font-family: "Avenir Next Cyr Bold";
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
    color: #00AEF8;
}
.recomend-service__text {
    font-family: "Avenir Next Cyr Regular";
    font-weight: 400;
}
@media (min-width: 768px) {
    .recomend-service__text {
        padding: 0 10px;
        min-height: 121px;
    }
}
.recomend-service__link {
    margin: 20px -15px -1px;
}
@media (min-width: 768px) {
    .recomend-service__link {
        margin: 0 -23px -1px;
    }
}
.recomend-service__link .button {
    width: 100%;
}
.recomend-service .slick-arrow {
    position: absolute;
    z-index: 10;
    top: 41%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    color: #00AEF8;
    cursor: pointer;
}
.recomend-service .slick-arrow:hover {
    color: #00597e;
}
.recomend-service .slick-arrow:before {
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
}
.recomend-service .slick-next {
    right: -20px;
}
.recomend-service .slick-prev {
    left: -20px;
    transform: translateY(-50%) rotate(180deg);
}
.recomend-service .slick-dots {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.recomend-service .slick-dots li {
    width: 15px;
    height: 15px;
    border: 2px solid #00aff9;
    border-radius: 50%;
    margin: 0 6px;
    transition: 0.3s;
}
.recomend-service .slick-dots li.slick-active {
    background-color: #00aff9;
}
.recomend-service .slick-dots button {
    display: none;
}